.leadership {
    margin-top: 6em;
    text-align: left;
    border-left: 5px solid #3498DB;
    background-color: rgba(52, 152, 219, 0.5);
    padding: 2em 1em 2em 1em;
    margin: 2em 0em;
    width: 90%;
}

.small {
    font-size: 24px;
}

.description {
    color: rgb(145, 145, 145);
}

.section {
    transform: translateX(5%);
}

