body {
  font-family: 'Segoe UI', sans-serif;
  /*background-image: linear-gradient(to bottom right, #38a5fd, #010192);
    background-repeat: no-repeat;
		background-attachment: fixed;
    background-size: cover;*/
  background-color: #363939;
  padding: 60px;
}
.p {
  font-size: 10px;
}
.h1 {
  font-size: 18px;
  color: black;
  margin: 0 0 40px;
} 
.main {
  width: 75%;
}
.box {
  width: 48%;
  padding: 2px;
  float: left;
}
.box2 {
  width: 48%;
  padding: 2px;
  float: right;
}
.navbar {
  z-index: 2;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #474949;
  border-bottom: 1px solid #757575;
  display: inline-block;
}
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  z-index: 1;
}
.navbar a:hover {
  color: #145cbf;
  z-index: 1;
}
.navbar a.active {
  color: white;
  z-index: 1;
}
.navbar img {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}
.navbar-bar-item
{
   background-color: transparent;
}
 .navbar-bar-item:hover:before, .navbar-bar-item:hover:after
{
   width: 100%;
   height: 100%;
}
.navbar-button {
  width: 150px;
  padding: 8px 8px;
}
div {
  color: #B8C5Cf;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
a:link {
  color: #B8C5Cf;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #B8C5Cf;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #B8C5Cf;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #B8C5Cf;
  background-color: transparent;
  text-decoration: underline;
}
.announcements {
  width: 350px;
  padding: 10px;
  background-color: grey;
  z-index: -1;
  border-radius: 5px;
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
.title {
  left: 10px;
  font-size: 38px;
  display: inline-block;
}
.line{
  width: 100%;
  opacity: 0.3;
  border-bottom: 1px solid #B8C5Cf;
  position: relative;
}
.line2{
  width: 130px;
  border-bottom: 4px solid white;
  position: relative;
}
.line3{
  width: 100%;
  opacity: 0.3;
  border-bottom: 1px solid white;
  position: absolute;
}
.icons {
  width: 300px;
  display: inline-block;
  opacity: .8;
}
.sponsers {
  width: 120px;
  display: inline-block;
}
.values {
  width: 1000px;
}
.button {
  width: 200px;
}
::-webkit-scrollbar {
width: 5px;
}
::-webkit-scrollbar-track {
  background: #B8C5CF;
}
::-webkit-scrollbar-thumb {
  background: #82C3EA;
}
::-webkit-scrollbar-thumb:hover {
  background: #3498DB;
}
.menu {
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 10;
}

.menu-global {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 7px solid white;
  width: 100%;
  transition: 0.55s;
}

.menu-top {
  top: 0;
}

.menu-middle {
  top: 18px;
}

.menu-bottom {
  top: 36px;
}

.menu-top-click {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}

.menu-middle-click {
  opacity: 0;
}

.menu-bottom-click {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: start;
  list-style-type: none;
}
ul li {
  padding: 1.5em 0.6em;
}
ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  font-family: "Lato";
  font-size: 2rem;;
  color: #B8C5CF;
  text-transform: uppercase;
  transition: 0.5s;
}
ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 95%;
  left: 0;
  background: #3498DB;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
ul li a:hover {
  color: #B2C3EA;
}
ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
