body {
  font-family: 'Segoe UI', sans-serif;
  background-image: linear-gradient(to bottom right, #38a5fd, #010192);
    background-repeat: no-repeat;
		background-attachment: fixed;
    background-size: cover;
}
.p {
  font-size: 10px;
}
.h1 {
  font-size: 18px;
} 
.main {
  width: 75%;
}
.box {
  width: 48%;
  padding: 2px;
  float: left;
}
.box2 {
  width: 48%;
  padding: 2px;
  float: right;
}
.navbar {
  z-index: 2;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,255,255,0.2);
  display: inline-block;
}
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  z-index: 1;
}
.navbar a:hover {
  color: #145cbf;
  z-index: 1;
}
.navbar a.active {
  color: white;
  z-index: 1;
}
.navbar img {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}
.navbar-bar-item
{
   background-color: transparent;
}
 .navbar-bar-item:hover:before, .navbar-bar-item:hover:after
{
   width: 100%;
   height: 100%;
}
.navbar-button {
  width: 150px;
  padding: 8px 8px;
}
div {
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
a:link {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: grey ;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
.announcements {
  width: 350px;
  padding: 10px;
  background-color: grey;
  z-index: -1;
  border-radius: 5px;
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
.title {
  left: 10px;
  font-size: 38px;
  display: inline-block;
}
.line{
  width: 100%;
  opacity: 0.3;
  border-bottom: 1px solid white;
  position: relative;
}
.line2{
  width: 130px;
  border-bottom: 4px solid white;
  position: relative;
}
.line3{
  width: 100%;
  opacity: 0.3;
  border-bottom: 1px solid white;
  position: absolute;
}
.icons {
  width: 300px;
  display: inline-block;
  opacity: .8;
}
.sponsers {
  width: 120px;
  display: inline-block;
}
.values {
  width: 1000px;
}