/* Overall */
body {
  font-family: 'Raleway', sans-serif;
  /*
    Original Background Gradient

    background-image: linear-gradient(to bottom right, #38a5fd, #010192);
    background-repeat: no-repeat;
		background-attachment: fixed;
    background-size: cover;*/
  background-color: #363939;
  margin: 0;

}
div {
  display: block;
}
.pagewrap {
  overflow: hidden;
}

/* Text Colors and Formatting */
.bsodcyan {
  color: #3498DB;
}
.bsodblue {
  color: #82C3EA;
}
.bsoddarkgray {
  color: #363939;
}
.bsodgray {
  color: #474949;
}
.bsodlightgray {
  color: #757575;
}
.bsodwhite {
  color: #B8C5CF;
}

.colorred {
  color: red;
}
.colororange {
  color: orange;
}
.coloryellow {
  color: yellow;
}
.colorgreen {
  color: green;
}
.colorblue {
  color: blue;
}
.colorindigo {
  color: indigo;
}
.colorviolet {
  color: violet;
}
.bold {
  font-weight: 800;
}
.light {
  font-weight: lighter;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.textlarge {
  font-size: 72px;
}
.textmedium {
  font-size: 36px;
}
.textsmall {
  font-size: 18px;
}

/* Formatting */
  /* Overall */
  .section {
    padding: 2em 0em 2em 0em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Tables and Columns */  
  .section-grid1x3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 150%;
    z-index: 5;
  }
  .column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Colored Sections */
  .bsodcyansection {
    border-left: 5px solid #3498DB;
    background-color: rgba(52, 152, 219, 0.5);
    padding: 2em 1em 2em 1em;
    margin: 2em 0em;
    width: 90%;
  }
  .bsodbluesection {
    border-left: 5px solid #82C3EA;
    background-color: rgba(130, 195, 234, 0.5);
    padding: 2em 1em 2em 1em;
    margin: 2em 0em;
    width: 90%;
  }
  .bsodgraysection {
    border-left: 5px solid #474949;
    background-color: rgba(71, 73, 73, 0.5);
    padding: 2em 1em 2em 1em;
    margin: 2em 0em;
    width: 90%;
  }
  .bsodlightgraysection {
    border-left: 5px solid #757575;
    background-color: rgba(117, 117, 117, 0.5);
    padding: 2em 1em 2em 1em;
    margin: 2em 0em;
    width: 90%;
  }

  /* Dividers */
  .thingrayline {
    border-bottom: 1px solid #757575;
    width: 95%;
  }
  .graysection {
    background-color: #474949;
    margin: 4em 0em 6em 0em;
  }
  .grayline-top {
    position: absolute;
    top: -35px;
    width: 150%;
    height: 5em;
    background-color: #474949;
    transform: rotate(-2deg);
    border-top: 1px solid #757575;
  }
  .grayline-bottom {
    position: absolute;
    bottom: -35px;
    width: 150%;
    height: 5em;
    background-color: #474949;
    transform: rotate(-2deg);
    border-bottom: 1px solid #757575;
  }

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
.icons {
  display: inline-block;
  opacity: .8;
  padding: 1em 1em;
  width: 400px;
}


/* Graphics and Visuals */
::-webkit-scrollbar {
width: 5px;
}
::-webkit-scrollbar-track {
  background: #B8C5CF;
}
::-webkit-scrollbar-thumb {
  background: #82C3EA;
}
::-webkit-scrollbar-thumb:hover {
  background: #3498DB;
}
.title {
  left: 10px;
  font-size: 38px;
  display: inline-block;
}

/* Navigation Bar */
.navbar {
  z-index: 2;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #474949;
  border-bottom: 1px solid #757575;
  display: inline-block;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: start;
  list-style-type: none;
}
ul li {
  padding: 1em 0.6em;
}
ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #B8C5CF;
  text-transform: uppercase;
  transition: 0.5s;
}
ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 95%;
  left: 0;
  background: #3498DB;
  transition: transform 0.75s;
  transform: scaleX(0);
  transform-origin: right;
}
ul li a:hover {
  color: #B2C3EA;
}
ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Hamburger Menu */
.menu {
  bottom: 35%;
  right: 2em;
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 10;
}
.menu-global {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 5px solid white;
  width: 100%;
  transition: 0.55s;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 12px;
}
.menu-bottom {
  top: 24px;
}
.menu-top-click {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 15px;
  transform: rotate(45deg);
  transition: 0.55s 0.5s;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 15px;
  transform: rotate(-405deg);
  transition: 0.55s 0.5s;
}

/* Home Page Items */
  /* Welcome Text */
  .welcome {
    width: 90%;
    margin-top: 5em;
  }
  .welcome-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* Five Pillars */
  .fivepillars {
    width: 90%;
  }

/* About Page Items */
  /* Members */
  .leadership {
    margin-top: 6em;
    text-align: left;
  }
  .about_leadership {
    text-align: left;
  }
  /* Social Media */
  .socialmediabutton {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
  }
  .socialmediabutton.learn-more {
    font-weight: 600;
    color: text;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #82C3EA;
    border: 2px solid #363939;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  .socialmediabutton.learn-more::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3498DB;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #363939, 0 0.625em 0 0 #474949;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  .socialmediabutton.learn-more:hover {
    background: #82C3EA;
    transform: translate(0, 0.25em);
  }
  .socialmediabutton.learn-more:hover::before {
    box-shadow: 0 0 0 2px #363939, 0 0.5em 0 0 #474949;
    transform: translate3d(0, 0.5em, -1em);
  }
  .socialmediabutton.learn-more:active {
    background: #82C3EA;
    transform: translate(0em, 0.75em);
  }
  .socialmediabutton.learn-more:active::before {
    box-shadow: 0 0 0 2px #363939, 0 0 #474949;
    transform: translate3d(0, 0, -1em);
  }

/* Support Us Page Items */
  /* Sponsorship Tiers */
  .sponsorship-columns {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
    row-gap: 2em;
  }